@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background-color: #79ffe1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}