:root {
  --swiper-theme-color: #171717 !important; 
}
@tailwind base;
@tailwind components;
@tailwind utilities;
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  display: none;
}
#__next {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background-color: #79ffe1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #171717 !important;
}
.swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #171717;
  background: white;
  opacity: 10 !important;
}
.swiper-button-next {
  background-image: url(../public/rightArrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(../public/leftArrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}
.swiper {
  height: 100%;
  width: 100%
}