.header {
  display: flex;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 40;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  width: 100%;
  justify-content: flex-end;
  border-bottom: 2px solid hsl(111, 5.3%, 77.2%);
}
.select {
  margin: 25px;
  margin-top: 30px;
  margin-left: 70px;
}
.nav {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
}
.logo {
  display: flex;
  position: relative;
  margin-left: 34vw;
  left: 6%;
  width: 100px;
  height: 100px;
  align-items: center;
}
.icons {
  display: flex;
  margin: 40px;
  gap: 8px;
  right: 0;
  margin-left: 478px;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .nav {
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  }
  .logo {
    left: 20%;
    margin-left: 50px;
    width: 200px;
    height: 200px;
  }
  .iconButton {
    height: 90px;
    width: 100px;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1000px) {
  .nav {
    height: 12vh;
    width: 100%;
  }
  .logo {
    margin-left: 28vw;
    left: 4%;
  }
}
/* @media screen and (min-width: 1500px) {
  .logo {
    margin-left: 28vw;
    left: 4%;
  }
} */
/* @media screen and (min-width: 2000px) {
  .logo {
    margin-left: 20vw;
    left: 5%;
  }
} */